---
import { Image } from 'astro:assets';
import Anchor from '../components/Anchor.astro';
import Navbar from '../components/Navbar';
import SectionHeading from '../components/SectionHeading.astro';
import Skill from '../components/Skill.astro';
// import Timeline from '../components/Timeline';
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';

import aboutPhoto from '../assets/AboutPhoto.png';
import tilt from '../assets/Tilt.png';
import wave from '../assets/Wave.png'
import tiltDark from '../assets/TiltDark.png'

import { links, experience, projects, skills } from '../constants';
---

<Layout title="Mateusz Hladky">
  <!-- <Timeline links={links} client:only /> -->
  <Navbar links={links} client:only />
  <!-- hero -->
  <main id="hero" class="h-screen bg-gradient-to-bl from-background-gradient-1 to-background-gradient-2 p-4 md:p-8 lg:p-16 xl:p-32 relative flex justify-center items-center">

      <div class="flex flex-col gap-4 md:grid md:grid-cols-2 md:gap-0">
        <div class="flex flex-col">
          <h1 class="text-heading-primary font-bold text-4xl sm:text-5xl md:text-6xl">Mateusz Hladky<span class="text-gradient">.</span></h1>
          <h2 class="-order-1 text-gradient font-light text-2xl sm:text-3xl md:text-4xl">Welcome, my name is</h2>
        </div>
        <p class="text-text px-1 lg:text-lg">
          I am a high school student with a passion for continuous improvement. I build web apps using technologies like React, Next.js, Tailwind, Typescript and Drizzle ORM. I have contributed to open source projects like create-t3-app.
        </p>
        <p class="text-text px-1 lg:text-lg">
           Apart from programming, I play volleyball, I like nature and travelling. I am eager to bring my skills and enthusiasm to a team where I can grow as a developer.
        </p>
        <figure class="shrink-0 max-w-[250px] md:max-w-[300px] xl:max-w-[325px] relative ring-1 ring-accent-gradient-1 self-center md:row-start-1 md:row-end-4 md:col-start-2 md:mx-auto">
          <Image src={aboutPhoto} alt="Mateusz Hladky" width={aboutPhoto.width} height={aboutPhoto.height} class="w-full relative z-30 transition select-none duration-300 ease-linear">
        </figure>
      </div>

    <Image src={tilt} alt="" width={tilt.width} height={tilt.height} class="absolute bottom-0 left-0 w-full" />
  </main>
  <!-- experience -->
  <section id="experience" class="min-h-screen py-16 pl-4 sm:px-16 md:px-32 xl:px-56 bg-background-main flex flex-col gap-8 md:gap-16">
        <SectionHeading num={1} title="experience" />
        <div class="flex flex-col gap-8 md:gap-12 px-2">
          {experience.map(({company, duration, skills, position, type}) => (
            <div class="grid grid-cols-[30px,_1fr]">
              <div class="row-span-full pt-2.5 md:pt-3">
                <div class="w-3 h-3 bg-gradient-to-tr from-accent-gradient-1 to-accent-gradient-2 rounded-full" />
              </div>
              <div class="flex flex-col">
                <span class="text-xl text-heading-primary font-medium md:text-2xl">{company}</span>
                <span class="font-medium text-gradient md:text-lg">{position}</span>
                <span class="text-text">{duration} • {type}</span>
                <ul class="mt-2">
                  {skills.map(skill => (
                    <li class="text-text">- {skill}</li>
                  ))}
                </ul>
              </div>
            </div>
          ))}
           <p class="text-lg md:text-xl text-heading-primary">
              I also contribute to open-source projects like <a href="https://create.t3.gg" target="_blank" rel="noreferrer" class="text-accent-gradient-2 hover:text-accent-gradient-1 transition">create-t3-app</a>
          </p>
        </div>
  </section>
  <!-- skills -->
  <section id="skills" class="min-h-screen pl-4 py-16 sm:px-16 md:px-32 xl:px-56 flex items-center bg-background-main">
    <div class="flex flex-col gap-8">
      <SectionHeading num={2} title="skills"  />
      <p class="text-lg md:text-xl text-text">Here are the technologies I currently use. I am always eager to learn and expand my skill set.
      </p>
      <div class="gap-x-4 gap-y-8 md:gap-y-16 grid grid-cols-[repeat(auto-fill,5rem)] justify-center">
        {skills.map(skill => (
          <Skill img={`${skill}.png`} alt={skill} label={skill} />
        ))}
      </div>
    </div>
  </section>
  <!-- projects -->
  <section class="min-h-[175vh] pl-4 sm:px-16 pt-32 pb-16 md:px-32 xl:px-56 flex items-center bg-gradient-to-b from-background-gradient-2  to-background-gradient-1 relative">
    <Image src={wave} alt="" width={wave.width} height={wave.height} class="absolute top-0 left-0 w-full" />
    <div class="flex flex-col gap-16 relative">
      <div class="absolute -top-32 left-0" id="projects" />
      <SectionHeading num={3} title="projects" />
        <div class="flex flex-wrap gap-16">
          {projects.map(project => (
            <Project project={project} />
          ))}
        </div>
      <p class="text-lg md:text-xl text-heading-primary">
        For more projects visit my <a href="https://github.com/matibox" target="_blank" rel="noreferrer" class="text-accent-gradient-2 hover:text-accent-gradient-1 transition">github</a>
      </p>
     </div>
    <Image src={tiltDark} alt="" width={tiltDark.width} height={tilt.height} class="absolute bottom-0 left-0 w-full" />
  </section>
  <!-- contact -->
  <section id="contact" class="min-h-screen px-10 sm:px-16 md:px-32 xl:px-56 flex items-center bg-background-dark relative">
    <div class="flex flex-col gap-8">
      <SectionHeading num={4} title="contact"  />
      <p class="text-lg md:text-xl text-text max-w-2xl">Thank you for visiting my portfolio! I'm actively looking for opportunities. Just click the button below and send me an email.</p>
      <Anchor href='mailto:mateusz.hladky@gmail.com' selfStart newTab>
        Contact me
      </Anchor>
      <a href='https://github.com/matibox' target="_blank" rel="noreferrer" aria-label='My github profile' class="text-accent-gradient-2 transition hover:text-accent-gradient-1 h-5">
        <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.36189 20.2752C8.36189 20.3728 8.24597 20.4509 8.0998 20.4509C7.93347 20.4655 7.81754 20.3874 7.81754 20.2752C7.81754 20.1776 7.93347 20.0995 8.07964 20.0995C8.23085 20.0849 8.36189 20.163 8.36189 20.2752ZM6.79435 20.0556C6.75907 20.1532 6.85988 20.2655 7.01109 20.2947C7.14214 20.3435 7.29335 20.2947 7.32359 20.1971C7.35383 20.0995 7.25806 19.9873 7.10685 19.9434C6.97581 19.9092 6.82964 19.958 6.79435 20.0556ZM9.02218 19.9727C8.87601 20.0068 8.7752 20.0995 8.79032 20.2118C8.80544 20.3094 8.93649 20.3728 9.0877 20.3386C9.23387 20.3045 9.33468 20.2118 9.31956 20.1142C9.30443 20.0215 9.16835 19.958 9.02218 19.9727ZM12.3387 1.27344C5.34778 1.27344 0 6.41182 0 13.18C0 18.5917 3.51815 23.2226 8.54335 24.8524C9.18851 24.9647 9.41532 24.5792 9.41532 24.262C9.41532 23.9594 9.4002 22.2906 9.4002 21.2658C9.4002 21.2658 5.87198 21.9978 5.13105 19.8116C5.13105 19.8116 4.55645 18.3916 3.72984 18.0256C3.72984 18.0256 2.5756 17.2595 3.81048 17.2742C3.81048 17.2742 5.06552 17.3718 5.75605 18.5331C6.85988 20.4167 8.70968 19.8751 9.43044 19.553C9.54637 18.7722 9.87399 18.2306 10.2369 17.9085C7.41935 17.606 4.57661 17.2107 4.57661 12.5164C4.57661 11.1745 4.95968 10.5011 5.76613 9.64222C5.63508 9.32504 5.20665 8.01726 5.89718 6.32887C6.9506 6.01168 9.375 7.6464 9.375 7.6464C10.3831 7.37313 11.4667 7.23162 12.5403 7.23162C13.6139 7.23162 14.6976 7.37313 15.7056 7.6464C15.7056 7.6464 18.13 6.0068 19.1835 6.32887C19.874 8.02214 19.4456 9.32504 19.3145 9.64222C20.121 10.5059 20.6149 11.1793 20.6149 12.5164C20.6149 17.2254 17.6462 17.6011 14.8286 17.9085C15.2923 18.294 15.6855 19.026 15.6855 20.1727C15.6855 21.8172 15.6704 23.8521 15.6704 24.2522C15.6704 24.5694 15.9022 24.9549 16.5423 24.8427C21.5827 23.2226 25 18.5917 25 13.18C25 6.41182 19.3296 1.27344 12.3387 1.27344ZM4.89919 18.1037C4.83367 18.1525 4.84879 18.2648 4.93448 18.3575C5.01512 18.4355 5.13105 18.4697 5.19657 18.4063C5.2621 18.3575 5.24698 18.2452 5.16129 18.1525C5.08065 18.0744 4.96472 18.0403 4.89919 18.1037ZM4.35484 17.7085C4.31956 17.7719 4.36996 17.85 4.47077 17.8988C4.55141 17.9476 4.65222 17.9329 4.6875 17.8646C4.72278 17.8012 4.67238 17.7231 4.57157 17.6743C4.47077 17.645 4.39012 17.6597 4.35484 17.7085ZM5.9879 19.4457C5.90726 19.5091 5.9375 19.6555 6.05343 19.7482C6.16935 19.8604 6.31552 19.8751 6.38105 19.797C6.44657 19.7336 6.41633 19.5872 6.31552 19.4944C6.20464 19.3822 6.05343 19.3676 5.9879 19.4457ZM5.41331 18.7283C5.33266 18.7771 5.33266 18.904 5.41331 19.0162C5.49395 19.1285 5.63004 19.1773 5.69556 19.1285C5.77621 19.065 5.77621 18.9382 5.69556 18.8259C5.625 18.7137 5.49395 18.6649 5.41331 18.7283Z" fill="currentColor"/>
        </svg>
      </a>
    </div>
    <div class="absolute bottom-0 left-0 w-full flex justify-center items-center py-4">
      <p class="text-sm text-text">Made by <a href="https://github.com/matibox" target="_blank" rel="noreferrer" class="transition text-accent-gradient-2 hover:text-accent-gradient-1 underline">Mateusz Hladky</a></p>
    </div>
  </section>
</Layout>        